.Text {
}

.xs {
  font-size: 0.75rem;
}

.sm {
  font-size: 0.875em;
}

.md {
  font-size: 1em;
}

.lg {
  font-size: 1.125em;
}

.xl {
  font-size: 1.25em;
}

._2xl {
  font-size: 1.5em;
}
._3xl {
  font-size: 1.875em;
}
._4xl {
  font-size: 2.25em;
}
._5xl {
  font-size: 3em;
}
