.articleDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &_header {
    display: flex;
    gap: 0.5rem;
  }

  &_body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_blocks {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    &_image {
      border-radius: var(--rounded-sm);
      overflow: hidden;
    }
  }

  &_info {
    &_view {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
