.button {
  border-radius: 5px;
  cursor: pointer;
  color: var(--primary-color);
  padding: 10px;
  transition: all 0.1s ease;
}

.icon {
  svg {
    fill: var(--primary-color);
  }
}

// color scheme

.gray {
  background: var(--color-gray);
  &:hover {
    background: var(--color-gray-lighten);
  }
  &:active {
    background: var(--color-gray-darken);
  }
}
.red {
  background: var(--color-red);
  &:hover {
    background: var(--color-red-lighten);
  }
  &:active {
    background: var(--color-red-darken);
  }
}
.orange {
  background: var(--color-orange);
  &:hover {
    background: var(--color-orange-lighten);
  }
  &:active {
    background: var(--color-orange-darken);
  }
}
.yellow {
  background: var(--color-yellow);
  &:hover {
    background: var(--color-yellow-lighten);
  }
  &:active {
    background: var(--color-yellow-darken);
  }
}
.green {
  background: var(--color-green);
  &:hover {
    background: var(--color-green-lighten);
  }
  &:active {
    background: var(--color-green-darken);
  }
}
.teal {
  background: var(--color-teal);
  &:hover {
    background: var(--color-teal-lighten);
  }
  &:active {
    background: var(--color-teal-darken);
  }
}
.blue {
  background: var(--color-blue);
  &:hover {
    background: var(--color-blue-lighten);
  }
  &:active {
    background: var(--color-blue-darken);
  }
}
.purple {
  background: var(--color-purple);
  &:hover {
    background: var(--color-purple-lighten);
  }
  &:active {
    background: var(--color-color-purple-darken);
  }
}
.pink {
  background: var(--color-pink);
  &:hover {
    background: var(--color-pink-lighten);
  }
  &:active {
    background: var(--color-pink-darken);
  }
}

//variant

.solid {
  border: none;
  outline: none;
}

.outline {
  border: 1px solid var(--button-secondary-color);

  color: var(--primary-color);
  background: none;
}

.ghost {
  border: none;
  background: none;
  outline: none;
}

//attachment

.icon {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

//size

.icon.size_s {
  width: var(--button-size-s);
  height: var(--button-size-s);
}

.icon.size_m {
  width: var(--button-size-m);
  height: var(--button-size-m);
}

.icon.size_l {
  width: var(--button-size-l);
  height: var(--button-size-l);
}

.icon.size_xl {
  width: var(--button-size-xl);
  height: var(--button-size-xl);
}
