.navLink {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: var(--rounded-xs);
  padding: 10px;
  color: var(--primary-color);
  transition: all 0.15s ease;

  &:hover {
    background: var(--color-gray-lighten);
  }

  &:active {
    background: var(--color-gray);
  }
}

.active {
  background: var(--color-gray-lighten);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: var(--primary-color);
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-secondary-color);
}
