.option {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  padding: 5px 10px;
  border: 1px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.option:hover {
  background-color: var(--inverted-bg-color);
}

.selected {
  background-color: rgba(0, 0, 0, 0.15);
}

.icon {
  position: absolute;
  right: 0.5rem;
  top: 4px;
  width: 20px;
  height: 20px;
}
