.app.dark {
  --bg-color: #3c3c3c;
  --inverted-bg-color: #2f2f2f;

  --primary-color: #7f7f7f;
  --secondary-color: #797979;
  --inverted-primary-color: #252525;
  --inverted-secondary-color: #4f4f4f;

  --button-primary-color: #252525;
  --button-secondary-color: #7f7f7f;
}
