.app.light {
  --bg-color: #fdfdfd;
  --inverted-bg-color: #f2f2f2;

  --primary-color: #232323;
  --secondary-color: #5a5a5a;
  --inverted-primary-color: #6d6d6d;
  --inverted-secondary-color: #767676;
}
