.app.light {
  --bg-color: #fdfdfd;
  --inverted-bg-color: #f2f2f2;

  --primary-color: #444444;
  --secondary-color: #5a5a5a;
  --inverted-primary-color: #6d6d6d;
  --inverted-secondary-color: #767676;

  --button-primary-color: #d4d4d4;
  --button-secondary-color: #7f7f7f;

  //color scheme

  --color-gray: #dbdfe2;
  --color-gray-lighten: #dce3e9;
  --color-gray-darken: #d6d9dd;

  --color-red: #fc8181;
  --color-red-lighten: #fc8181;
  --color-red-darken: #fc8181;

  --color-orange: #f6ad55;
  --color-orange-lighten: #f6ad55;
  --color-orange-darken: #f6ad55;

  --color-yellow: #f6e05e;
  --color-yellow-lighten: #f6e05e;
  --color-yellow-darken: #f6e05e;

  --color-green: #68d391;
  --color-green-lighten: #68d391;
  --color-green-darken: #68d391;

  --color-teal: #4fd1c5;
  --color-teal-lighten: #4fd1c5;
  --color-teal-darken: #4fd1c5;

  --color-blue: #3aadfe;
  --color-blue-lighten: #63b3ed;
  --color-blue-darken: #63b3ed;

  --color-purple: #b794f4;
  --color-purple-lighten: #b794f4;
  --color-purple-darken: #b794f4;

  --color-pink: #f687b3;
  --color-pink-lighten: #f687b3;
  --color-pink-darken: #f687b3;
}
