.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  transition: background 0.2s ease;

  &_layout {
    display: flex;
    max-width: var(--layout-max-width);
    margin: 0 auto;
    // max-height: calc(100vh - var(--navbar-height));
    // overflow: scroll;
  }

  .aside_left {
    flex: 1;
  }

  .content {
    flex: 2;
  }

  .aside_right {
    flex: 1;
    width: 100%;
  }
}
