.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  transition: var(--theme-transition);
}

.btn_group {
  display: flex;
  gap: 5px;
  margin-left: auto;
}

.switcher {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-right: 20px;
}
