.articlesViewSwitcher {
  display: flex;
  width: fit-content;
  position: sticky;
  top: 0px;
  border-radius: var(--rounded-xs);
  background-color: var(--inverted-bg-color);
  box-shadow: var(--shadow-sm);
}
